/*================================================
RED INK 2020 (redink.co.uk)
Steve Mersereau | Richard Copestake
==================================================*/

:root {
    --blue: #3F51B5;
    --blue-hover: #0a67b2;
    --gold: #ccb404;
    --orange: #e09900;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: #666;
    line-height: 1.7rem;
}

/*======TYPOGRAPHIC STYLES & UTLITIES======*/

.hidden {
    position: absolute;
    left: -999px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--blue);
    text-decoration: none;
    transition: all .3s ease-in-out;
}

a:hover {
    color: var(--gold);
}

ul {
    list-style: disc;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.7rem;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

.mb2 {
    margin-bottom: 2rem;
}

/*======LAYOUT======*/

.container {
    width: 90%;
    margin: 0 auto;
}

/*======MAIN NAVIGATION & HAMBURGER======*/

.main-nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0;
  }
  
  .main-nav ul {
    display: flex;
    list-style-type: none;
  }
  
  .main-nav ul li {
    padding: 0 10px;
  }
  .main-nav ul li:last-of-type {
    padding-right: 0;
  }
  
  .main-nav ul li a {
    color: #0c71c3;
    transition: all .1s ease-in-out;
    font-size: 1.1rem;
  }
  
  .main-nav ul li a:hover {
  color: var(--gold);
  }
  .main-nav ul li a.active {
  color: var(--gold);
  }

  /*=========Hamburger===========*/

  /*open & close btns*/
  .menu-open-btn {
    display: none;
}
  .menu-close-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 70%;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    color: #fff;
    font-size: 25px;
    z-index: 12;
  }

 
/*media q's for off-screen menu*/
@media(max-width: 900px) {
 .menu-open-btn {
      display: block;
      margin: 10px 0 0 10px;
  }

.fa-bars::before {
  color: var(--blue);
  transition: .3s;
}
.fa-bars:hover::before {
  color: var(--gold);
}
.menu-open-btn:hover {
      opacity: .8;
  }


.main-nav ul.main-menu{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: var(--blue);
      width: 50%;
      padding: 30px;
      transform: translateX(-700px);
      transition: transform 0.5s ease-in-out;
      z-index: 2;
  }
  .main-nav ul.main-menu.show {
    transform: translateX(-20px);
}
  .main-nav ul.main-menu li {
      padding: 10px;
      border-bottom: 1px solid #478fcf;
  }
  
  .main-nav ul.main-menu ul li:hover{
    background-color: var(--blue-hover);
  }
  .main-nav ul.main-menu ul li a:hover{
    color: #fff;
  }
  .main-nav ul.main-menu li:last-child {
      border-bottom: 0;
  }

 
  .main-nav ul li a {
    color: #fff;
    transition: all .1s ease-in-out;
    font-size: 1rem;
    display: block;
}
} 
/*======PROBLEMS NAVIGATION & HAMBURGER======*/
/*
.problems-nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0;
  }
  
  .problems-nav ul {
    display: flex;
    list-style-type: none;
  }
  
  .problems-nav ul li {
    padding: 0 10px;
  }
  .problems-nav ul li:last-of-type {
    padding-right: 0;
  }
  
  .problems-nav ul li a {
    color: #0c71c3;
    transition: all .1s ease-in-out;
    font-size: 1.1rem;
  }
  
  .problems-nav ul li a:hover {
  color: var(--gold);
  }
  .problems-nav ul li a.active {
  color: var(--gold);
  }*/

  /*Hamburger*/
   /*open & close btns*/
   
  .problems-menu-open-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .problems-menu-close-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 10px;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    color: #fff;
    font-size: 25px;
    transform: translateX(750px);
    transition: transform 0.5s ease-in-out;
    z-index: 12;
  }
  .problems-menu-open-btn .fa-bars::before {
    color: var(--gold);
    transition: .3s;
  }
  .problems-menu-open-btn .fa-bars:hover::before {
    color: var(--gold);
  }
  .problems-menu-open-btn:hover {
        opacity: .8;
    }
  .problems-menu-close-btn.close-show{
    transform: translateX(-20px);
  }


/*media q's for Problems off-screen menu*/
@media(max-width: 4000px) {

.problems-nav ul.problems-menu {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background: var(--blue);
      width: 100%;
      padding: 30px;
      transform: translateX(3000px);
      transition: transform 0.5s ease-in-out;
      z-index: 10;
  }

  .problems-nav ul.problems-menu li {
      padding: 10px;
      border-bottom: 1px solid #478fcf;
  }
  
  .problems-nav ul.problems-menu ul li:hover{
    background-color: var(--blue-hover);
  }
  .problems-nav ul.problems-menu ul li a:hover{
    color: #fff;
  }
  .mproblems-nav ul.problems-menu li:last-child {
      border-bottom: 0;
  }

  .problems-nav ul.problems-menu.show {
      transform: translateX(0);
  }
  .problems-nav ul li a {
    color: #fff;
    transition: all .1s ease-in-out;
    font-size: 1rem;
    display: block;
}
} 
