/*================================================
RED INK 2020 (redink.co.uk)
Steve Mersereau | Richard Copestake
==================================================*/

:root {
    /*colors*/
    --blue: #3F51B5;
    --blue-hover: #0a67b2;
    --gold: #ccb404;
    --orange: #e09900;
    /*font-sizes*/
    --p-large: 1.3rem;
    --p-medium: 1.1rem;
    --p-large-mobile: 1.1rem;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    color: #666;
    line-height: 1.7rem;
}

@media (max-width: 500px) {
    html {
        font-size: 14px;
    }
}

/*======= TYPOGRAPHIC STYLES & UTLITIES ========================*/

.hidden {
    position: absolute;
    left: -999px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--blue);
    text-decoration: none;
    transition: all .3s ease-in-out;
}

a:hover {
    color: var(--gold);
}

ul {
    list-style: disc;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.7rem;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

.mb2 {
    margin-bottom: 2rem;
}

/*===== LAYOUT ====================================*/

/*height: 100vh; - doesn't work well on mobile if content overflows
So apart from slides where the content is fixed and manageable - Home, Footer -
the 100vh is restricted to screens above mobile site
*/

section {
    margin: 0;
    padding: 0;
}

@media (min-width: 700px) {
    section {
        min-height: 100vh;
    }
    .slide {
        min-height: 100vh;
    }
}

section.home, section.footer {
    min-height: 100vh;
    border-bottom: 1px dashed #fff;
}

.slide {
    padding: 70px;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

/*===== MAIN NAVIGATION - Asylum Journey ==================*/

/*=== open & close btns ===*/

.menu-open-btn {
    display: none;
}

.menu-close-btn {
    display: none;
}

.menu-open-btn {
    display: block;
    margin: 10px 0 0 10px;
    color: var(--blue);
}

.menu-close-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 10px;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    color: #fff;
    font-size: 25px;
    z-index: 12;
}

.fa-bars::before {
    color: var(--blue);
    transition: .3s;
}

.fa-bars:hover::before {
    color: var(--gold);
}

.menu-open-btn:hover {
    color: var(--gold);
    cursor: pointer;
}

.nav-container {
    position: relative;
    width: 100%;
    top: 0;
    height: 50px;
    z-index: 2;
    margin: 0;
    padding: 0;
}

.main-nav {
    background-color: #fff;
    padding: 5px 0 10px 0;
}

.main-nav .main-menu-container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    width: 50%;
    padding: 30px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: 2;
}

.main-menu-container a, .main-menu-container h3 {
    color: #fff;
}

/*=== wider slide-in main nav on small devices ===*/

@media (max-width: 700px) {
    .main-nav .main-menu-container {
        width: 100%;
    }
}

.main-nav .main-menu-container.show {
    transform: translateX(-20px);
}

/*nav items*/

.nav-item-container {
    margin-bottom: 2rem;
    margin-left: -40px;
    opacity: 0;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 700px) {
    .nav-item-container {
        margin-bottom: 2rem;
        margin-left: 0;
        opacity: 1;
    }
}

.nav-item {
    padding: 15px 5px;
    color: #fff;
    text-align: center;
    height: 50px;
    width: 300px;
    line-height: 1rem;
}

.nav-item-1, .nav-item-2, .nav-item-3, .nav-item-4, .nav-item-5, .nav-item-6, .nav-item-7, .nav-item-8 {
    position: relative;
    top: 0;
    left: 0;
    background-color: #FA9A06;
    border-bottom: 1px dashed #F3C98A;
}
.nav-item-1:hover, .nav-item-2:hover, .nav-item-3:hover, .nav-item-4:hover, .nav-item-5:hover, .nav-item-6:hover, .nav-item-7:hover, .nav-item-8:hover{
    background-color: #D48305;

}
/*.nav-item-1 {
    background-color: hotpink;
}

.nav-item-2 {
    background-color: green;
}

.nav-item-3 {
    background-color: rebeccapurple;
}

.nav-item-4 {
    background-color: olive;
}

.nav-item-5 {
    background-color: var(--blue);
}

.nav-item-6 {
    background-color: indigo;
}

.nav-item-7 {
    background-color: black;
}

.nav-item-8 {
    background-color: teal;
}*/

/*=================== PROBLEMS & ACTIONS =================================*/

/*== accordion ==*/

.common-problems-btn {
    background-color: var(--blue);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 300px;
    color: white;
    font-size: inherit;
    transition: all .5s ease;
    margin: 1rem 0;
}

.common-problems-btn:hover {
    background-color:#2D3D99;
}

.common-problems-btn a {
    color: #fff;
}

.common-problems-btn a:hover {
    color: #fff;
}

.accordion {
    font-size: 1rem;
    margin: 0 auto;
    border-radius: 5px;
}

.accordion-grid {
    display: none;
}
.accordion-grid-show{    
    display: grid;
    grid-template-columns: 1fr;
}

.accordion-header, .accordion-body {
}

.accordion-header {
    padding: 1.5em 1.5em;
    background: #3F51B5;
    color: white;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: .1em;
    transition: all .3s;
    opacity: 0;
    border-bottom: 1px dashed #C0C8F8;
}

.accordion-header-1, .accordion-header-2, .accordion-header-3, .accordion-header-4 {
    opacity: 0;
}

.accordion__item .accordion__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.accordion-header:hover {
    background: #2D3D99;
    position: relative;
    z-index: 5;
}

.accordion-body {
    color: #353535;
    display: none;
}

.accordion-btn {
    padding: 5px 10px;
    background-color: var(--blue);
    color: #fff;
    border-radius: 5px;
}

.accordion-btn:hover {
    background-color: var(--blue-hover);
}

.accordion-body__contents {
    padding: 1.5em 1.5em;

}

.accordion__item.active:last-child .accordion-header {
    border-radius: none;
}

.accordion:first-child>.accordion__item>.accordion-header {
    border-bottom: 1px solid transparent;
}

.accordion__item>.accordion-header:after {
    content: "\2193";
    font-size: 1.2em;
    position: relative;
    top: -2px;
    transition: .3s all;
    transform: rotate(0deg);
}

.accordion__item.active>.accordion-header:after {
    transform: rotate(-180deg);
}

.accordion__item.active .accordion-header {
    background: #2D3D99;
}

.accordion__item .accordion__item .accordion-header {
    color: #353535;
}

@media screen and (max-width: 1000px) {
    .accordion {
        width: 100%;
    }
}

/*=========== PAGES ===========================================================*/

/*=== general/site-wide ===*/

@media (min-width: 700px) {
    .intro {
        max-width: 50%;
        margin: 0 auto;
    }
}

.slide-three-main {
    background-color: antiquewhite;
}

.next-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

/*=== Home ===*/

.home {
    margin-top: 0;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.home h2 {
    font-size: 2.5rem;
    line-height: 2.8rem;
}

.home p {
    max-width: 60%;
    font-size: var(--p-large);
    line-height: 1.6rem;
}

@media (max-width: 500px) {
    .home p {
        font-size: var(--p-large-mobile);
    }
}

.logo-img {
    margin-bottom: 3rem;
}

/*=== animated scroll button ===*/

/*font awsome version*/

.more-btn {
    font-size: 3.5rem;
    opacity: .2;
}

/*==== MAP OVRVIEW ===*/

section.map {
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
    justify-content: space-evenly;
    padding: 3rem 0;
}

.map h3 {
    font-size: 2rem;
}

.map p {
    max-width: 60%;
    font-size: var(--p-large);
    line-height: 1.6rem;
}

.map a {
    color: #fff;
}

.map a:hover {
    color: var(--blue);
}

@media (max-width: 500px) {
    .map p {
        font-size: var(--p-large-mobile);
    }
}

.map-item-container {
    margin-bottom: 2rem;
}

.map-item {
    padding: 15px 5px;
    color: #fff;
    text-align: center;
    opacity: 0;
    height: 50px;
    width: 300px;
    line-height: 1rem;
    /*position: absolute;*/
}

.map-item-1, .map-item-3, .map-item-5, .map-item-7 {
    margin-left: 40px;
}

.map-item-2, .map-item-4, .map-item-6, .map-item-8 {
    margin-left: -40px;
}

 .map-item-1, .map-item-2, .map-item-3, .map-item-4, .map-item-5, .map-item-6, .map-item-7, .map-item-8 {
    opacity: 0;
    position: relative;
    top: 0;
    left: 0;
    background-color: #FA9A06;
    border-bottom: 1px dashed#F3C98A;
    transition: background-color .5s ease;
}
.map-item-1:hover, .map-item-2:hover, .map-item-3:hover, .map-item-4:hover, .map-item-5:hover, .map-item-6:hover, .map-item-7:hover, .map-item-8:hover{
    background-color:#D48305;
}
/*.map-item-1 {
    background-color: hotpink;
}

.map-item-2 {
    background-color: green;
}

.map-item-3 {
    background-color: rebeccapurple;
}

.map-item-4 {
    background-color: olive;
}

.map-item-5 {
    background-color: var(--blue);
}

.map-item-6 {
    background-color: indigo;
}

.map-item-7 {
    background-color: black;
}

.map-item-8 {
    background-color: teal;
}*/

/*=== SLIDE THREE - CLAIM ASYLUM ===*/

section.slide-three {
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
    justify-content: space-evenly;
    padding: 3rem 0;
    
}

/*=== SLIDE FOUR - WELFARE INTERVIEW ===*/

section.slide-four {
    background-color: aliceblue;
    
}

/*=== SLIDE FIVE - LOCAL AUTHORITY CARE ===*/

section.slide-five {
    background-color: azure;
}

/*=== FOOTER ===*/

footer {
    height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*-- ANIMATION TESTS -- 


.box {
  position:relative;
  border-radius:6px;
  margin-top:4px;
  display:inline-block;
  background-color:#6fb936;
}
#box1{
    position: relative;
    left: 0;
    opacity: 0;

}*/